html {
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', sans-serif;
}

label,
input,
button,
select,
textarea {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 1rem;
}

textarea {
    height: 5rem;
}

.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
}

.errors {
    color: red;
}

.success {
    color: green;
}

.article {
    margin: 1rem auto;
    border: 2px solid teal;
    padding: 1rem;
    border-radius: 3px;
}

.article-title {
    margin: 2rem auto;
    font-size: 1.5rem;
    text-align: center;
}

.article-title a {
    color: inherit;
    text-decoration: inherit;
}

.article-title a:hover {
    color: white;
    background: black;
}

/* Media Query */
@media (min-width: 480px) {
    .article-title {
        font-size: 2rem;
    }
}

.article-meta {
    margin: -1rem -1rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    color: white;
    background: teal;
    font-size: .75rem;
    font-family: sans-serif;
}

.article-text {
    text-align: justify;
}

